page {
  background-color: $uni-bg-color
}

.btn-primary {
  color: #fff;
  background-color: $uni-color-primary;
}

.btn-success {
  color: #fff;
  background-color: $uni-color-success;
}

.btn-warn {
  color: #fff;
  background-color: $uni-color-warning;
}

.btn-error {
  color: #fff;
  background-color: $uni-color-error;
}
